<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<table align="center"> 
	    <tr> 
	        <td> 
	<br>
	<br>        
<h2 th:text="規劃出去吃"></h2>
<br>
<h4 th:text="${name113}"></h4>
<br>
<form action="/g/date2" method="post">

日期 :<input name="date" id="date" type="date"  th:value="${name11}" style="font-size:15px" >
<br>
<br>
去哪裡:<select name="YourLocation" style="font-size:15px" >
　<option value="中壢">中壢</option>
<option value="台北">台北</option>
　<option value="內湖">內湖</option>
　<option value="中山">中山</option>
<option value="桃園">桃園</option>
　<option value="新竹">新竹</option>
<option value="東海">東海</option>
　<option value="苗栗卓蘭">苗栗卓蘭</option>
<option value="台中">台中</option>
　<option value="宜蘭">宜蘭</option>
<option value="野柳">野柳</option>
</select>
<br>
<br>
做什麼:<select name="dosomething" style="font-size:15px" >
<option value="去探險">去探險</option>
<option value="吃好吃的">吃好吃的</option>
　<option value="看電影">看電影</option>
　<option value="採草莓">採草莓</option>
　<option value="去動物園">去動物園</option>
<option value="去遊樂園">去遊樂園</option>
　<option value="去海洋館">去海洋館</option>
<option value="去夜市">去夜市</option>
　<option value="踏青">踏青</option>
<option value="逛街">逛街</option>
</select>
<br>
<br>
MEMO:
<br>
<textarea name="txarea" cols="30" rows="3" style="font-size:15px"> </textarea>

<br>
<input type="submit" value="提交" style="font-size:15px">
</form>

<br>
<form action="/g/date3" method="post">
<input type="submit" value="規劃紀錄" style="font-size:15px">
</form>
<form action="/g/restart" method="post">

<input type="submit" value="回到選擇頁面" style="font-size:15px">
</form>


	        </td>

	    </tr> 
 
	</table> 
</html>