<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<table align="center"> 
	    <tr> 
	        <td> 
	<br>       
<h3 th:text="規劃出去吃總表"></h3>
<br>

<form action="/g/date" method="post">
<input type="submit" value="回到新增出去吃" style="font-size:15px">
</form>
<br>
<br>

<form action="/g/nocansle" method="post">
<textarea cols="40" rows="9" th:text="${text1}" readonly="readonly">
</textarea>
<input type="submit" value="刪除" style="font-size:15px">
</form>
<br>
<form action="/g/nocansle" method="post">
<textarea cols="40" rows="9" th:text="${text2}" readonly="readonly">
</textarea>
<input type="submit" value="刪除" style="font-size:15px">
</form>
<br>
<form action="/g/nocansle" method="post">
<textarea cols="40" rows="9" th:text="${text3}" readonly="readonly">
</textarea>
<input type="submit" value="刪除" style="font-size:15px">
</form>
<br>
<form action="/g/nocansle" method="post">
<textarea cols="40" rows="9" th:text="${text4}" readonly="readonly">
</textarea>
<input type="submit" value="刪除" style="font-size:15px">
</form>
<br>
<form action="/g/nocansle" method="post">
<textarea cols="40" rows="9" th:text="${text5}" readonly="readonly">
</textarea>
<input type="submit" value="刪除" style="font-size:15px">
</form>
<form action="/g/nocansle" method="post">
<textarea cols="40" rows="9" th:text="${text6}" readonly="readonly">
</textarea>
<input type="submit" value="刪除" style="font-size:15px">
</form>
<form action="/g/nocansle" method="post">
<textarea cols="40" rows="9" th:text="${text7}" readonly="readonly">
</textarea>
<input type="submit" value="刪除" style="font-size:15px">
</form>
<form action="/g/nocansle" method="post">
<textarea cols="40" rows="9" th:text="${text8}" readonly="readonly">
</textarea>
<input type="submit" value="刪除" style="font-size:15px">
</form>
<form action="/g/nocansle" method="post">
<textarea cols="40" rows="9" th:text="${text9}" readonly="readonly">
</textarea>
<input type="submit" value="刪除" style="font-size:15px">
</form>


	        </td>

	    </tr> 
 
	</table> 
</html>