
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<table align="center"> 
	    <tr> 
	        <td> 
	        <br>
	        
<h1 th:text="'Hi, ' + ${name11}"></h1>
<!--<embed src="./jrph6-5a58w.wav" width=325 height=300 autostart=false></embed>--> 
<!--表單提交目標連結和方法post-->  
<br>
<form action="/g/valid" method="post"  >
Account :<input type="text" name="name" value="MaggieMeow"  placeholder="account" style="font-size:20px" >
<br>
<br>
Password:<input type="password" name="password" placeholder="密碼為4個數字" style="font-size:20px">
<input type="submit" value="login" style="font-size:20px">
</form>


	        </td>

	    </tr> 
 
	</table> 
	 
</html>