
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--表單提交目標連結和方法post--> 

	<table align="center"> 
	    <tr> 
	        <td> 
	        <br>
<audio controls>
	<source th:src="@{/0101.wav}" type="audio/wav">
	<source th:src="@{/0101.wav}" type="audio/mpeg">
</audio> 

<h3 th:text="'需答對五題過關每題有三次機會 ，進度→ '+ ${nowrate}"></h3>
<form action="/hint1" method="post">
<input type="submit" value="提示" style="font-size:15px">
</form>
<h3 th:text="${errormsg}"></h3>
<form action="/gamecheck1" method="post">
<input type="text" name="歌曲名"  placeholder="哪部電影出現過這首鋼琴曲" style="font-size:15px">
<input type="submit" value="submit" style="font-size:15px">
</form>
<br>
<form action="/g/restart" method="post">
<input type="submit" value="退出" style="font-size:15px">
</form>

	        </td>

	    </tr> 
 
	</table> 

</html>