<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<table align="center"> 
	    <tr> 
	        <td> 
	<br>
	<br>        
<h3>Ines's adventure !!</h3>

<br>
<br>
<form action="/playplayplay" method="post">
<input type="submit" value="Mission possible" style="font-size:15px">
</form>

<br>

<<br>
<form action="/g/song2" method="post">
<input type="submit" value="gift1" style="font-size:15px">
</form>
<br>
<br>
<form action="/g/song" method="post">
<input type="submit" value="birthday card" style="font-size:15px">
</form>

<br>
<form action="/g/song3" method="post">
<input type="submit" value="gift2" style="font-size:15px">
</form>
<br>



	        </td>

	    </tr> 
 
	</table> 
</html>