<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<table align="center"> 
	    <tr> 
	        <td> 
	  <br>
	<br>  
	<h3>↓點他</h3>
<audio controls>
	<source th:src="@{/0310.wav}" type="audio/wav">
	<source th:src="@{/0310.wav}" type="audio/mpeg">
</audio> 
	<br>
	<br>        
<h4 >恭喜妳了，原本只是想弄個卡片的說，因為之前想說妳要弄spring-boot還有line所以就有先做了一點</h4>
<br>
<h4 >想不到就變成現在這奇怪的東西XD(然後恐龍小遊戲是看到語涵上班在玩)，阿對譜都是亂兜的XDD大概增加了不少闖關的難度</h4>
<br>
<h4 >如果...妳現在告訴2個月前的我說，Life會花時間弄小禮物給陳姿蓉當離別禮物，我會覺得這根本是在說笑，但是人生總是那麼有戲劇張力對吧~</h4>
<br>
<h4 >之後也不知道還會見幾次面，想當初妳剛來的時候，是我第一次遇到資歷比我還菜的XDD</h4>
<br>
<h4 >然後妳每天早上都會用很有精神的聲音跟大家說早安(無論眼睛是睜開還是閉著XD)，然後開始跟柏青分享一些有的沒的</h4>
<br>
<h4 >上班基本上就是在唱歌，不然就是自言自語(偶爾口出穢言)，然後轉過頭大概可以發現下午大概都在吃下午茶(後來想想也是啦)</h4>
<br>
<h4 >畢竟嘉宏給妳各種節日的零食都是別人的10倍，然後偶爾分享過期的食物給鄰居們(我!)，過期的餅乾、飲料甚至泡麵都要小心</h4>
<br>
<h4 >不知道妳還記不記得有次加班妳拿出我之前給妳的粉紅色乖乖來吃(過期的)，妳吃了幾口給我跟BOB!!說要一起吃</h4>
<br>
<h4 >除此之外也少不了一些蠢事、比如說卡片到處亂丟，卡片忘在我這、悠遊卡不見又找回來，還有幾次打電話來問你的便當盒在不在，喝水不好好喝給筆電喝等等的</h4>
<br>
<h4 >當時帶妳到處去問電文規格，妳還各種認錯人XDD，還有以為我們是從中國貴林來的。還有最經典的曾稽核先生，很抱歉那時候也蠻常鬧妳的</h4>
<br>
<h4 >一開始教妳dimention好像也都亂教吧XDD，不瞞妳說我好像對一些小細節記得蠻清楚的，比如說妳去新訓前我把地址貼在妳手上，我當時真的覺得妳到不了耶</h4>
<br>
<h4 >當然妳最後還是成功抵達了，儘管上面講一堆看起來妳很呆甚麼的，但是妳有一個別人都取代不了的為別人找想的心</h4>
<br>
<h4 >之前加班還沒有訂餐的時候妳主動買給我御飯糰(哈哈 你該不會忘了???我還記得耶)，很多時候妳的付出雖然別人沒有明講，但其實是暖在心頭上的</h4>
<br>
<h4 >我喜歡妳對事情負責、對每個人的用心、跟妳共事相處或是聊聊天都會讓人感到心情愉悅、而且腦妳腦筋其實也都動很快(嗆人的時候)</h4>
<br>
<h4 >其實這也都源於喜歡做自己的妳，平凡卻又獨特。</h4>
<br>
<h4 >話說，妳其實還欠我很多東西耶，甚麼約打羽球的，欠我一次喔。還有打傳說到現在好友都還沒加是哪朝??然後妳真的是齁line甚麼的真的都沒再回XDD</h4>
<br>
<h4 >雖然說看到妳的訊息量真的是爆炸可以理解啦但我還是得嘴一下。還有欠甚麼要去吃抹茶等等的，是都不用還了嗎???妳覺得我這樣就可以放過妳喔???</h4>
<br>
<br>
<h4 >好啦~ 希望妳以後都能保持妳的初衷，請妳要有自信的面對任何困難，要帶著曾經當上富邦第一正的氣勢繼續闖關XD</h4>
<br>
<h4 >姿蓉~畢業快樂</h4>
<br>
<h4>by Life</h4>

<br>
<form action="/g/restart" method="post">
<input type="submit" value="restart" style="font-size:15px">
</form>


	        </td>

	    </tr> 
 
	</table> 
</html>