<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<table align="center"> 
	    <tr> 
	        <td> 
	<br>
	<br>        
<h2 >Shutsen挑戰成功!!  解鎖成就</h2>
<br>
<h5 >這次應該真的不會到這關了吧XDDD</h5>
<br>
<h5 >這次一開始的初衷只是因為想見妳，想說弄個出來玩的系統(然後還沒有刪除跟取消功能的應該蠻有趣的)</h5>
<br>
<h5 >後來想想只弄這個，也許妳看看就不管它了，所以後來弄個挑戰小遊戲(這真的是跳坑)</h5>
<br>
<h5 >雖然最後可能還是會白忙一場XD，但我想我盡力了，從原本還不知道要怎麼用html播音樂</h5>
<br>
<h5 >想說我大概弄不出來了，到最後為妳錄了幾首(編到崩潰!!)還真的能在網頁上播放</h5>
<br>
<h5 >希望妳還有機會拿到下一個拼圖~然後讓我許願一下，希望我可以成為妳的1/4</h5>
<br>


<br>
<form action="/g/restart" method="post">
<input type="submit" value="新選擇畫面" style="font-size:15px">
</form>


	        </td>

	    </tr> 
 
	</table> 
</html>