<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<table align="center"> 
	    <tr> 
	        <td> 
	<br>
	<br>        
<h2 >綸綸挑戰成功!!  綸綸生日快樂吶，鼻最愛妳了</h2>
<br>
<h5 >斑斑其實大概1~2個月前就想送個給綸綸這個禮物了</h5>
<br>
<h5 >然後最近一個多月，鼻每天都好忙甚至中間鼻一度都認為要做不出來了。斑斑還遇到了很多困難</h5>
<br>
<h5 >不過最終還是產出來了!!而且裡面的曲子鼻都找不到譜，都是鼻花很多時間瞎猜的@@希望綸綸不要嫌棄</h5>
<br>
<h5 >鼻要感謝綸綸，綸綸一直對鼻很有耐心，每次都還是會等等鼻跟鼻說晚安。雖然有幾次綸綸隔一天根本就忘惹</h5>
<br>
<h5 >但每次都還是可以跟雖然不確定一定知道自己在講甚麼的可愛綸綸講話，對鼻來說真的感到很溫馨也很有趣XD</h5>
<br>
<h5 >而且綸綸也都會包容鼻，還有包容斑斑鼻跟摸摸鼻還要照顧毛毛很辛苦，還會適時給予鼓勵。</h5>
<br>
<h5 >鼻覺得綸綸非常厲害，鼻也會努力載綸綸出去玩，給綸綸吃吃跟買買並且當一個優秀的摸摸鼻。</h5>
<br>
<h5>by 愛綸綸的鼻</h5>

<br>
<form action="/g/restart" method="post">
<input type="submit" value="新選擇畫面" style="font-size:15px">
</form>


	        </td>

	    </tr> 
 
	</table> 
</html>